.attendance-container{
    margin-top: 20px;
}
.attendance-table{
    width: 100%;
    background-color: var(--bg-secondary);
}
.attendance-table table{
    border-collapse: collapse;
    color: var(--text-secondary);
}
.attendance-table tr{
    width: 100%;
    text-align: left;
    white-space: nowrap;
}
.attendance-table th, 
.attendance-table td{
    padding: 8px 15px;
    width: 33%;
}
.attendance-table th{
    background-color: var(--bg-teal-800);
}
.attendance-table tr:nth-child(even){
    color: #000;
    background-color: var(--bg-teal-200);
}