form{
    width: 70%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.input-wrapper{
    width: 100%;
    display: flex;
    padding: 0 10px;
    border-radius: 6px;
    align-items: center;
    background-color: #fff;
}
.name-fields-group{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.input-wrapper .icon{
    width: 24px;
    height: 24px;
}
.input-wrapper input{
    width: 100%;
    padding: 15px 15px;
    border: 0;
    outline: 0;
    font-size: 16px;
    background-color: #fff;
}

::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-disabled);
}

form button{
    outline:0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 4px;
    width: max-content;
    letter-spacing: 1px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--bg-secondary);
    border: 1px solid var(--bg-teal-900);
    background-color: var(--bg-teal-900);
    transition-duration: .2s;
}
form button:hover{
    transition: all .2s ease-in;
    color: var(--bg-teal-900);
    background-color: transparent;
}

.link-to-signup{
    display: inline-block;
    text-align: right;
}
.link-to-signup span, .link-to-signup a{
    display: inline;
    font-size: 14px;
    font-weight: 500;
}
.link-to-signup span{
    color: #424242;
}
.link-to-signup a{
    color: var(--bg-teal-900);
    text-decoration: none;
}
.link-to-signup a:active,
.link-to-signup a:hover{
    text-decoration: underline;
}

.error-container{
    font-size: 12px;
    color: var(--danger);
    font-weight: 500;
}
.success-container{
    font-size: 12px;
    color: #22ce00;
    font-weight: 500;
}

@media (max-width: 480px){
    form{
        width: 90%;
    }
}